/* This is the mane page */
 #home {
  background: url("../assets/backround.jpeg")
}
nav{
  background: url("../assets/backround.jpeg")
}

nav ul a,
nav .brand-logo {
  color: white;
  font-size: 30p;
  background: url("../assets/backround.jpeg")
  
}
a#logo-container.brand-logo{
  font-family: 'Great Vibes', cursive;
  font-size: 50px; 
   
  
}

h1.header.center{
  font-family: 'Great Vibes', cursive;
  font-size: 130px;
  text-shadow: 2px 2px #D2691E;
  

}
h5.header.col.s12.light{
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;

}
h4{
  color: white;
}
h6 {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;

}


img.middle:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#vitoria{

  max-width: 100%;
  height: auto;
}

#scopa{
  max-width: 100%;
  height: auto;
}

p.light {
  line-height: 2rem;
  animation: chippy1 3s forwards;
  color: white;
  
  
}

.button-collapse {
  color: #26a69a;
  
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  border:solid black 1px;
  
}
  .parallax-container .section {
    width: 100%;
    
  }
/* Media quiries */
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background: url("../assets/backround.jpeg")


}
footer.page-footer.teal{
  color: antiquewhite;
}
/* Animations  */

@keyframes chippy1 {
  from {
    transform: translate(0px, 1000px);
  }
  to {
    transform: translate(0px, 0px)
  }
}